# Django
Django>=5.1,<5.2
djangorestframework>=3.15
django-cors-headers>=4.3
django-filter>=24.2
djangorestframework-simplejwt>=5.3
django-environ>=0.11
django-storages>=1.14

# Database
psycopg2-binary>=2.9

# Celery
celery>=5.4
redis>=5.0

# Image Processing
Pillow>=10.3

# API Documentation
drf-spectacular>=0.27

# Production
gunicorn>=22.0
whitenoise>=6.6

# Utilities
python-slugify>=8.0
uuid>=1.30
